<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Todo List App</title>
</head>

<body>
    <header class="header">
        <h1>Todos </h1>
    </header>
    <div class="container">
        <section class="title">
            <%= curentDay %>
        </section>
        <section class="items">
            <% for(let i=0; i< items.length; i++){ %>
                <ul>
                    <li>
                        <p>
                            <input type="checkbox" name="item-check">
                        </p>
                        <p>
                            <%= items[i] %>
                        </p>
                    </li>
                </ul>
                <%   } %>

        </section>
        <section class="add-items-form">
            <form action="/" method="POST">
                <input type="text" name="item" placeholder="New Todo ...">
                <button type="submit"> +</button>
            </form>
        </section>

    </div>
    <footer class="footer">
        <p>Todo List App - &copy; - September, 2021</p>
    </footer>
</body>

</html>