* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    background-image: -webkit-linear-gradient(75deg, #A683E3 50%, #E4E9FD 50%);
}


/* Utility classes */


/* li {
    list-style: none;
    display: flex;
    color: #E4E9FD;
} */

p {
    padding: 0 0.5rem;
}

.header,
.footer {
    width: 100%;
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    width: 25%;
    margin: auto;
    padding: 1.5rem 1rem;
    background-color: peru;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 2px dashed white;
    color: white;
}

form {
    margin: 0.5rem;
}

input,
button {
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

input:hover,
button:hover {
    background-color: #A683E3;
    color: white;
    font-weight: bold;
}

input {
    border-radius: 5px;
    border-bottom: 2px solid #A683E3;
    background-color: peru;
    text-align: center;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: blue;
    color: #E4E9FD;
    /* font-size: small; */
    opacity: 0.5;
}

button {
    cursor: pointer;
    border-radius: 50%;
    border-width: 0;
    min-width: 2.5rem;
    min-height: 2.5rem;
    font-size: 1.5rem;
    background-image: -webkit-linear-gradient(45deg, #A683E3 65%, #E4E9FD 35%);
    color: #E4E9FD;
    float: right;
    margin: 0.5rem;
}

button:hover {
    background-image: -webkit-linear-gradient(60deg, #E4E9FD 65%, #A683E3 35%);
    color: #A683E3;
}

.items {
    padding: 1rem;
    text-transform: capitalize;
}

.todo-items {
    display: flex;
    align-items: center;
    color: white;
}

.items:last-child {
    border-bottom: 0;
}

::placeholder {
    opacity: 0.6;
    color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
}